<% include ../partials/header%>
<h1 class="texts" style="margin-bottom:20px">Add comment on
    <%=product.pname%>


</h1>

<div class="container">
    <div class="row">

        <div style="width: 30%; margin:0 auto;" ;>
            <form action="/product/<%= product._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[author]" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="add a comment">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary btn-block">
                </div>
            </form>
        </div>

        <a href="/productcatalogue" class="btn btn-default ">Back</a>

    </div>
</div>