<%include ../partials/header%>

<div class="container">
  <header class="texts">
    <h1>Adulis</h1>
    <h2>The complete organized Ethiopian market place</h2>
  </header>
  <a class="btn btn-primary" href="/products">Load all products</a>
</div>
<br />
